---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Abderrazzak Benbouya Portofolio">
  <a
    href="https://dev.to/abderrazzakb/nodejs-event-loop-the-key-to-scalable-and-efficient-applications-2gob"
    class="max-w-4xl mx-auto p-4"
  >
    <h2 class="text-2xl font-bold mb-4">Latest Articles</h2>
    <div class="space-y-4">
      <div
        class="p-4 border border-amber-200 rounded-lg shadow-amber shadow-sm hover:shadow-md transition-shadow"
      >
        <h3 class="text-lg font-semibold">
          Node.js Event Loop: The Key to Scalable and Efficient Applications
        </h3>
        <p class="mt-1">
          In this article, we are going to discover an introduction to the
          Node.js Event Loop using a Food Cart Chef analogy.
        </p>
      </div>
    </div>
  </a>
</Layout>
