---
import Layout from "../layouts/Layout.astro";
import Resume from "../components/Resume.mdx";
import "../components/resume.css";
---

<Layout title="Abderrazzak Benbouya Portofolio">
    <div text-center>
        <h2 text-2xl m-bs-8 font-bold>
            Full Stack Web Developer
        </h2>
        <h3 font-bold text-xl>
            Abderrazzak Benbouya
        </h3>
        <p> Marrakech, Paris </p>
        <p text-lg m-bs-4>
            I'm a full stack web developer with a passion for building beautiful and functional websites.
            using JavaScript;
        </p>
    </div>
    <div class="resume" m-block-s-3>
        <Resume />
    </div>
</Layout>
