---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image" href="/favicon.webp" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <meta name="author" content="Abderrazzak Benbouya" />
        <meta name="keywords" content="Frontend, Developer, Web, Engineer, Javascript, NodeJS, Typescript, Marrakech, Paris" />
        <meta name="description" content="Abderrazzak Benbouya personal website" />
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9557813707777329"
        crossorigin="anonymous"></script>
    </head>
    <body dark:bg-gray-8 dark:text-light-3 max-w-5xl m-auto>
        <div m-inline-2 lg:m-inline-0>
            <div class="flex" flex-justify-between m-block-2 p-block-2 text-2xl>
                <div class="flex" gap-1>
                    <div i-carbon-code text-inherit color-inherit></div>
                    <a text-xl href="/" title="Abderrazzak Benbouya personal website">BENBOUYA.ME</a>
                </div>

                <div class="flex" gap-3>
                    <a
                        href="https://www.linkedin.com/in/abderrazzak-benbouya/"
                        rel="noopener noreferrer"
                        title="Abderrazzak Benbouya LinkedIn profile"
                    >
                        <div i-carbon-logo-linkedin></div>
                    </a>
                    <a
                        href="https://github.com/abdelrazzaq-dev"
                        rel="noopener noreferrer"
                        title="Abderrazzak Benbouya GitHub profile"
                    >
                        <div i-carbon-logo-github></div>
                    </a>
                    <button
                        id="btn-theme-switch"
                        dark:i-carbon-sun
                        i-carbon-moon
                        transition-
                        title="switch application theme"></button>
                </div>
            </div>
            <slot />
        </div>
    </body>
    <script>
        const btnThemeSwitch = document.getElementById("btn-theme-switch");
        btnThemeSwitch.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark");
        });

        const prefersDarkScheme = window.matchMedia(
            "(prefers-color-scheme: dark)",
        );

        if (prefersDarkScheme.matches) {
            document.documentElement.classList.add("dark");
        } else {
            document.documentElement.classList.remove("dark");
        }

        prefersDarkScheme.addEventListener("change", (e) => {
            if (e.matches) {
                document.documentElement.classList.add("dark");
            } else {
                document.documentElement.classList.remove("dark");
            }
        });
    </script>
</html>
